In [69]:
a = 1
print(a)

1

In [70]:
a = 1
b = 2
c = a
a = b
b = c
print("a = ", a, end="\n")
print("b = ", b)

a =  2
b =  1

In [71]:
age = 2022 - 1996
print(age, "years old")

26 years old

In [72]:
name = "Mohamed"
Name = "Haroun"

print(name)
print(Name)

Mohamed
Haroun

> Exercice
    >> write a program that displays the value 3 to variable a, the value 5 to variable b and to exchange their values

In [73]:
a = 3
b = 5
c = a
a = b
b = c
print("a = ", a, end="\n")
print("b = ", b)

a =  5
b =  3

In [74]:
a = 5
b = 3
c = a + b
d = b - a
e = b * a
f = b / a

print("c", type(c))
print("f", type(f))

f = b
print("f", type(f))

c <class 'int'>
f <class 'float'>
f <class 'int'>

In [75]:
name = "Mohamed"
family = "EL YONOUSI"

print(name.upper())
print(family.lower())

full_name = name.lower() + " " + family.lower()
print(full_name.title())

MOHAMED
el yonousi
Mohamed El Yonousi

In [76]:
text = "          any text          "

print(text)
print(text.lstrip())
print(text.rstrip())
print(text.strip())

          any text
any text
          any text
any text

In [77]:
name = "Mohamed"
family = "EL YONOUSI"

print(name, family)
print(name, "\t", family)
print(name, "\n", family)

Mohamed EL YONOUSI
Mohamed 	 EL YONOUSI
Mohamed
 EL YONOUSI

In [78]:
desc = "If I write this blog without any picturesüñºÔ∏è, same sized fontüî§, no separations, no humorü§°, no anecdotes; \
in short no interest‚ùå; I am technically writing it in vain. It‚Äôs not gonna get sold and I am gonna remain poor. \
POOR MEüò≠. I don‚Äôt know how much interesting I can make this blog but I hope it can help you."

print(desc)

If I write this blog without any picturesüñºÔ∏è, same sized fontüî§, no separations, no humorü§°, no anecdotes; in short no interest‚ùå; I am technically writing it in vain. It‚Äôs not gonna get sold and I am gonna remain poor. POOR MEüò≠. I don‚Äôt know how much interesting I can make this blog but I hope it can help you.

In [79]:
desc = '''If I write this blog without any picturesüñºÔ∏è, same sized fontüî§, no separations, no humorü§°, no anecdotes; 
in short no interest‚ùå; I am technically writing it in vain. It‚Äôs not gonna get sold and I am gonna remain poor. 
POOR MEüò≠. I don‚Äôt know how much interesting I can make this blog but I hope it can help you.'''

print(desc)

If I write this blog without any picturesüñºÔ∏è, same sized fontüî§, no separations, no humorü§°, no anecdotes;
in short no interest‚ùå; I am technically writing it in vain. It‚Äôs not gonna get sold and I am gonna remain poor.
POOR MEüò≠. I don‚Äôt know how much interesting I can make this blog but I hope it can help you.

In [80]:

print("hello", "world!", "from", "Morocco", sep='+')

# print with custom end line
print("hello", "world!", "from", "Morocco", sep='+', end=".\n")

hello+world!+from+Morocco
hello+world!+from+Morocco.

In [81]:
name = "Mohamed".lower()
family = "EL YONOUSI".lower()
age = 2022 - 1996

print(name.upper())
print(family.title())

full_name = (name + " " + family).title()
print(full_name)

info = full_name + " " + str(age) + " years old"

print(info)

MOHAMED
El Yonousi
Mohamed El Yonousi
Mohamed El Yonousi 26 years old