> Dictionary

In [19]:
employees = {}
employees[id] = 1
employees["name"] = "Mohamed EL YONOUSI"
employees["birthday"] = "05-03-1996"
employees["jobTitle"] = "Founder"
employees["companyName"] = "CASETRUE"

print(employees)
print(employees["name"])
print(type(employees))

{<built-in function id>: 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE'}
Mohamed EL YONOUSI
<class 'dict'>

In [20]:
employees = dict()
employees[id] = 1
employees["name"] = "Mohamed EL YONOUSI"
employees["birthday"] = "05-03-1996"
employees["jobTitle"] = "Founder"
employees["companyName"] = "CASETRUE"

print(employees)
print(type(employees))

{<built-in function id>: 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE'}
<class 'dict'>

In [21]:
employees = {
    id: 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}
print(employees)
print(type(employees))

{<built-in function id>: 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE'}
<class 'dict'>

In [22]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}
for key in employees:
    print(key, ":", employees[key])

id : 1
name : Mohamed EL YONOUSI
birthday : 05-03-1996
jobTitle : Founder
companyName : CASETRUE

In [23]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}
for key, employee in employees.items():
    print(key, ":", employee)

id : 1
name : Mohamed EL YONOUSI
birthday : 05-03-1996
jobTitle : Founder
companyName : CASETRUE

In [24]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}
for employee in employees.values():
    print(employee)

1
Mohamed EL YONOUSI
05-03-1996
Founder
CASETRUE

In [25]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}
if "name" in employees:
    print(employees["name"]);
else:
    print("No employees found")

Mohamed EL YONOUSI

In [26]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}

print(employees.get("name", "No employees found"))

Mohamed EL YONOUSI

In [28]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}

del employees["id"]

print(employees)

{'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE'}

In [30]:
employees1 = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}

employees2 = {
    "status": "Active",
}

employees = employees1 | employees2
print(employees1)
print(employees2)
print(employees)

{'id': 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE'}
{'status': 'Active'}
{'id': 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE', 'status': 'Active'}

In [31]:
employees = {
    "id": 1,
    "name": "Mohamed EL YONOUSI",
    "birthday": "05-03-1996",
    "jobTitle": "Founder",
    "companyName": "CASETRUE"
}

employees2 = {
    "status": "Active",
}

employees.update(employees2)
print(employees)
print(employees2)

{'id': 1, 'name': 'Mohamed EL YONOUSI', 'birthday': '05-03-1996', 'jobTitle': 'Founder', 'companyName': 'CASETRUE', 'status': 'Active'}
{'status': 'Active'}